# fly.toml app configuration file generated for most-accurate-chess-games on 2025-12-27T15:30:08+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'most-accurate-chess-games'
primary_region = 'fra'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']
  grace_period = '5s'

[http_service.concurrency]
  type = "requests"
  soft_limit = 20
  hard_limit = 30

[[vm]]
  memory = '512mb'
  cpus = 1
  memory_mb = 512
